@import url("./fonts.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/*Colors Codes*/
$background: #000014;
$background-light: #202036;
$opacity-light-background: #e2e2e228;
$border: #d1a22a;

#root {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: $background;
  color: white;
  font-family: "Comfortaa";
  overflow-x: hidden;
}
body:has(dialog[open]){
  overflow-y: hidden;
}
main {
  position: relative;
  padding-inline: 14em;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

header {
  .nav-section {
    max-width: 100vw;
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 9px;
    padding-inline: 90px;
    background-color: $opacity-light-background;
    backdrop-filter: blur(5px);
    height: 50px;
    z-index: 100;

    button {
      width: 32px;
      height: 32px;
      display: flex;
      place-content: center;
      border: transparent;
      background-color: transparent;
      filter: invert(1);
      display: none;
    }

    .nav-title {
      font-size: clamp(18px, 3vw, 24px);
      text-decoration: none;
      color: white;
      display: block;

      span {
        transition: all 0.3s ease-in-out;
      }
    }

    .nav-title:hover span {
      color: $border;
    }

    .nav-title:visited,
    .nav-title:any-link,
    a,
    a:visited,
    a:any-link {
      color: white;
    }

    .nav-items {
      height: 100%;
      display: flex;
      gap: 15px;
      align-items: center;

      a {
        font-size: clamp(14px, 3vw, 20px);
        text-decoration: none;
        transition: all 0.3s ease;
        padding: 5px 9px;
        border-radius: 15px;
        white-space: nowrap;
      }

      a:hover {
        background-color: $border;
        color: black;
      }

      .lang-area {
        position: relative;
        width: 100px;
        height: 100%;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          padding-right: 16px;
          top: 20%;
          position: absolute;
          max-height: 24px;
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid white;
          transition: all 0.1s ease;

          li {
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 22px;
            padding: 3px 5px;
            cursor: pointer;
          }

          &:hover {
            max-height: 44px;
            background-color: $opacity-light-background;
          }

          &::before {
            content: "";
            position: absolute;
            right: 2px;
            top: 5px;
            aspect-ratio: 1/1;
            width: 13px;
            background-image: url("./Images/angle-down-solid.svg");
            background-repeat: no-repeat;
            filter: invert(1);
            transition: all 0.2s ease;
          }

          &:hover::before {
            rotate: 180deg;
          }

          li:hover {
            background-color: #d1a22a81;
          }
        }
      }
    }
  }
}

.title-section {
  position: relative;
  width: 100%;
  padding: 30px 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  background-color: $opacity-light-background;
}

.text-area {
  h2 {
    font-size: clamp(60px, 5vw, 100px);
  }

  h3 {
    margin-top: 5px;
    font-size: clamp(40px, 2.5vw, 80px);
    font-weight: 400;
  }
}

.img-area {
  .profile-img {
    height: 200px;
    width: 200px;
    border: 4px solid $border;
    border-radius: 450px;
    transition: all 0.3s ease;
  }

  .profile-img:hover {
    border-radius: 25px;
    scale: 1.1;
  }
}

.buttons-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: 500;
    color: white;
    display: inline-block;
    height: 40px;
    background-color: transparent;
    border: 2px solid $border;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  a:hover {
    background-color: $border;
    scale: 1.04;
    color: black;
  }

  .cv-area a {
    padding-inline: 12px;
    line-height: 40px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
  }

  .cv-area a:first-child {
    margin-right: 16px;
  }

  .small-btns a {
    border-radius: 25px;
    margin-block: auto;
    aspect-ratio: 1/1;
  }

  .small-btns a:first-child {
    margin-right: 16px;
  }

  .small-btns a:hover {
    scale: 1.15;

    svg {
      fill: black;
    }
  }

  svg {
    height: 100%;
    width: 100%;
    padding: 5px;
    fill: white;
  }
}

.container {
  position: relative;
  padding: 120px 40px 40px 40px;
  margin-top: 80px;
  width: 100%;
  min-height: 100px;
  background-color: $opacity-light-background;
}

.heading-bg {
  background-color: $opacity-light-background;
  position: absolute;
  left: -14em;
  top: 35px;
  width: fit-content;
  padding-block: 10px;
  white-space: nowrap;

  .slide-rail {
    display: inline-block;
    white-space: nowrap;
    animation: 15s slide infinite linear;
  }

  .background-heading {
    width: max-content;
    display: inline-block;

    div {
      font-size: 26px;
      color: $opacity-light-background;
      width: fit-content;
      display: inline-block;
      margin-inline: 5px;
    }
  }
}

.about-section {
  .personal-data {
    font-size: 22px;
    font-weight: 300;

    span {
      font-weight: 700;
      font-size: 1.01em;
      color: $border;
    }
  }

  .languages {
    opacity: 0.8;
    margin-top: 20px;
    list-style: none;

    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    * {
      margin-block: 4px;
    }
  }
}

.skills-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .skills {
    background-color: $opacity-light-background;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 100%;
  }

  .skills-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-block: 4px;
  }

  .card {
    flex: 1 0 21%;
    min-height: 30px;
    display: flex;
    align-items: center;
    background-color: $opacity-light-background;
    padding: 6px 1px;
    transition: all 0.3s ease;

    img {
      height: 30px;
      margin-inline: 3px;
    }
  }

  .card:hover {
    flex-grow: 4;
  }
}

.projects-section {
  position: relative;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  
  dialog {
    border: none;
    background:#000014d8;
    //  rgba(120, 119, 133, 0.95);
    position: fixed;
    color: white;
    inset: 0;
    justify-self: center;
    align-self: center;
    padding: 20px 15px;
    margin: 0;
    width: 70vw;
    height: auto;
    z-index: 999;
    #close-dialog:hover > svg {
      color: rgb(117, 117, 117);
      rotate: 90deg;
      transition: all ease 0.3s;
    }
    #close-dialog {
      background: none;
      border: none;
      position: absolute;
      top: 10px;
      right: 15px;
      svg {
        color: white;
      }
    }
    .techs-ul-father {
      display: flex;
      flex-direction: row;
      justify-content: start;
      font-size: 20px;
      align-items: center;
      gap: 10px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 4px;
      display: block;
    }
    h4 {
      margin-left: 4px;
      margin-block: 7px;
      font-size: 20px;
      display: block;
    }
    p {
      margin-left: 4px;
      margin-block: 6px;
      a {
        color: rgb(65, 65, 250);
        transition: color ease 0.1s;
      }
      a:hover {
        color: rgb(100, 100, 247);
      }
    }
    span {
      color: white;
      transition: all ease .1s;
      cursor:default
    }
    span:hover{
      color:$border
    }

    .techs-ul-element {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      gap: 8px;
      li {
        img {
          width: 24px;
        }
      }
    }
  }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.18); /* semi-transparent red */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* Safari */
  }
  .project {
    border: none;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    flex: 0 1 40%;
    margin: 5px;
    height: 250px;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: white;
    z-index: 10;
    transition: all 0.25s ease;

    > img {
      position: absolute;

      opacity: 0.5;
      inset: 0;
      width: 100%;
      height: 15%;

      transition: all 0.25s ease-in;
    }

    h3 {
      padding-block: 5px;
      background: rgba(1, 1, 73, 0.4);
      width: 100%;
      text-align: center;
    }

    .techs {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 5px;
      list-style: none;
      padding: 3px 2px;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      translate: 0 -100%;
      z-index: 5;
      transition: all 0.5s ease-in-out;

      img {
        height: 30px;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  .project:hover {
    scale: 1.05;

    > img {
      top: 10%;
      opacity: 0;
    }

    .techs {
      translate: 0 0;
      z-index: 10;
      background-color: rgba(1, 1, 73, 0.4);

      img {
        opacity: 1;
      }
    }
  }

  .more {
    flex: 1 0 100%;
    padding-block: 6px;
    background-color: $opacity-light-background;
    border: none;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    transition: all 0.3s ease;
    cursor: pointer;

    svg {
      margin-top: -5px;
      height: 30px;
      transition: all 0.3s ease;
    }
  }

  .more:hover {
    font-size: 14px;
    color: #d6d6d6;

    svg {
      scale: 1.15;
      fill: #d6d6d6;
    }
  }
}

footer {
  background-color: $background-light;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  position: relative;
  padding-block: 3em;

  .decoration {
    width: 30px;
    height: 30px;
    background-color: inherit;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50% 50%);
    transform-origin: 0 0;

    rotate: 45deg;
  }

  .contact-info {
    text-align: center;
    flex: 1 1 25%;
    font-size: 20px;

    a {
      position: relative;
      width: fit-content;
      text-decoration: none;
    }

    a:any-link {
      color: inherit;
    }

    a:hover {
      color: $border;
    }

    a::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: -4px;
      height: 2px;
      background: linear-gradient(
        270deg,
        $border 0%,
        $border 50%,
        transparent 50%,
        transparent 100%
      );
      background-size: 200% 100%;
      transition: all 0.3s ease;
    }

    a:hover::before {
      background-position: -100% 0;
    }
  }

  .small-btns {
    flex: 1 0 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    a {
      height: 40px;
      background-color: $opacity-light-background;
      border-radius: 50%;
      padding: 5px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      svg {
        height: 70%;
        width: 70%;
        fill: white;
      }

      &:hover {
        scale: 1.1;
        background-color: $border;
        border-radius: 25px;

        svg {
          fill: black;
        }
      }
    }
  }
}

.background_waves {
  filter: brightness(0.5);
  position: absolute;
  z-index: -500;

  &.el1 {
    width: 60em;
    top: 7%;
    right: -100px;
    rotate: 75deg;
  }

  &.el2 {
    top: 45%;
    width: 50em;
    left: -200px;
    rotate: 45deg;
  }

  &.el3 {
    top: 70%;
    right: -100px;
    width: 50em;
    rotate: 270deg;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1290px) and (min-width: 901px) {
  .nav-section {
    padding-inline: 30px;
    .nav-items {
      margin-right: 20px;
    }
  }

  main {
    padding-inline: 4em;

    .text-area {
      h2 {
        font-size: clamp(40px, 5vw, 80px);
      }

      h3 {
        font-size: clamp(20px, 2.5vw, 60px);
      }
    }

    .img-area {
      .profile-img {
        width: 150px;
        height: 150px;
      }
    }

    .buttons-area {
      margin-top: 40px;
    }
  }
}

@media (max-width: 900px) {
  main {
    padding-inline: 2em;
    margin: 0 auto;
  }

  header {
    .nav-section {
      width: 100vw;
      padding-inline: 30px;

      .nav-title {
        margin: 0;
      }

      button {
        display: flex;
        z-index: 700;

        transition: all 0.3s ease;

        &:active {
          filter: invert(0);
          scale: 1.04;
          color: black;
        }
      }

      .nav-items {
        padding-block: 60px;
        gap: 0;
        position: absolute;
        width: 160px;
        height: 100lvh;
        top: 0;
        right: -162px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #4e4e4e9d;
        border-left: 3px solid $border;
        transition: all 0.3s ease;

        a {
          z-index: 400;

          border-radius: 0;
          padding-block: 15px;
          width: 100%;
          text-align: center;
        }

        .lang-area {
          width: 100%;
          flex-grow: 0;
          margin-top: auto;
          margin-bottom: 20px;
          height: 40px;

          ul {
            width: 90%;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .title-section {
    justify-content: space-around;
  }
}

@media (max-width: 630px) {
  .nav-section {
    width: 100vw;
  }

  main {
    padding-inline: 0;
    margin: 0 auto;
  }

  .title-section {
    text-align: center;
  }

  .skills-section {
    .skills {
      padding: 5px;

      .card {
        flex-basis: 45%;
      }
    }
  }

  .projects-section {
    .project {
      flex: 0 1 70%;
    }
  }
}

@media (max-width: 490px) {
  #root {
    overflow-x: hidden;
  }

  .title-section {
    justify-content: center;
    gap: 10px;
    padding-inline: 30px;

    .img-area {
      order: 0;
    }

    .text-area {
      order: 1;
    }

    .buttons-area {
      order: 2;
      margin-block: 30px;

      .cv-area button:first-child {
        margin-right: 6px;
      }

      .cv-area button {
        font-size: clamp(10px, 3vw, 15px);
        padding: 5px 10px;
      }
    }
  }

  .about-section {
    .personal-data {
      font-size: 18px;
    }

    .languages {
      font-size: 16px;

      .title {
        font-size: 18px;
      }
    }
  }

  .skills-section {
    padding-inline: 20px;

    .skills {
      padding-inline: 10px;
      padding-bottom: 15px;
    }
  }

  .projects-section {
    .project {
      flex: 0 1 100%;
      height: 200px;

      h3 {
        font-size: 20px;
      }
    }
  }

  footer {
    padding-top: 5em;
    gap: 2em;

    .contact-info {
      flex: 1 0 100%;
    }

    .small-btns {
      gap: 30px;

      a {
        height: 46px;
      }
    }
  }
}
